body{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.075);
    font-family: "Roboto", sans-serif;
}
.all_items{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}
.title_logo{
     background: linear-gradient(#d395c9,#4f0183,#ebdc0b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Trebuchet MS;
}
.image{
    height: 100%;
}
.items_img{
    display: flex;
    width: 100%;
    justify-content: center;
}
.border{
    background-color: white;
    padding: 60px ;
    width: 500px;

}
.border h3{
   margin-bottom: 30px;
}
.inp{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.inp input{
    width: 100%;
    box-sizing: border-box;
    height: 45px;
    padding: 0 35px 0 12px;
    font-size: 15px;
    outline: none;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.486);
    border-radius: 5px;
}
.inp_password{
    position: relative;
}
.inp_password .icon_eyeslash{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 15px;
    color: rgb(98, 113, 129);
    cursor: pointer;
}
.link{
    text-decoration: none;
    color: rgb(79, 111, 218);
}
.link:hover{
    text-decoration: underline;
}
.checkbox_link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
    flex-wrap: wrap;
}
.checkbox_label{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.checkbox_link input{
    margin-top: 1px;
    transform: scale(1.2);
    cursor: pointer;
    accent-color: rgb(49, 95, 219);
}
.btn{
    margin-top: 30px;
}
.btn button{
    width: 100%;
    height: 45px;
    cursor: pointer;
    font-size: 17px;
    background-color:rgb(7, 67, 233) ;
    color: white;
    border: none;
    border-radius: 5px;
    transition: all 0.2s;
}
.btn button:hover{
    background-color:rgb(37, 80, 196) ;
}
hr{
   width: 100%;
}
.hr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-top: 20px;
}
.hr h3{
  flex-shrink: 0;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 20px;
    gap: 10px;
}
.icons .icon_google{
    background-color: rgb(231, 28, 28);
    padding: 18px 60px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
    color: white;
}
.icons .icon_google:hover{
    background-color: rgb(240, 81, 81);
}
.icons .icon_twitter{
    background-color: rgb(0, 162, 255);
    padding: 18px 60px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
    color: white;
}
.icons .icon_twitter:hover{
    background-color: rgb(81, 179, 236);
}
.icons .icon_facebook{
    background-color: rgb(45, 87, 165);
   padding: 18px 60px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
    color: white;
}
.icons .icon_facebook:hover{
    background-color: rgb(64, 101, 168);
}
.link_register{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}

@media (max-width:1400px) {
    .border{
    width: 45%;
    padding: 40px;
}
.image{
    width: 100%;
}

.icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.items_img{
    padding: 0 10px;
}
}

@media (max-width:1000px) {
    .image{
        display: none;
    }
    .border{
    width: 500px;
    padding: 50px;
}
}

@media (max-width:660px){
    .border{
    width: 100%;
   padding: 20px;
}
.items_img{
    width: 100%;
}
}